<mat-card>
  <mat-card-content>
    <mat-card-title>{{ title }}</mat-card-title>
    <!-- <button (click)="debug()">debug</button> -->

    <mat-accordion>
      <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle> -->
      <mat-expansion-panel *ngFor="let env of environments">
        <mat-expansion-panel-header [ngClass]="getEnvironmentStatusClass(env)">
          <mat-panel-title>
            {{ env.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let phase of env.deployPhases">
          <mat-expansion-panel-header
            [ngClass]="getDeployPhaseStatusClass(phase)"
          >
            <mat-panel-title>
              {{ phase.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-expansion-panel *ngFor="let task of phase.workflowTasks">
            <mat-expansion-panel-header
              [ngClass]="getWorkflowTaskStatusClass(task)"
            >
              <mat-panel-title [ngClass]="getEnabledStatusClass(task)">
                {{ task.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-workflow-task [wfTask]="task"></app-workflow-task>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
