table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.green {
  background-color: #58A053;
  border: solid 1px #58A053;
}

.blue {
  background-color: #3F8DC1;
  border: solid 1px #3F8DC1;
}

.red {
  background-color: #B72C2C;
  border: solid 1px #B72C2C;
}
