<div class="flex-container">
  <div class="side-by-side">

    <div>
      <app-header [title] = "'Before'" [document]="before"></app-header>
      <button mat-raised-button color="primary" (click)="openBeforeDialog()">Paste File</button>
    </div>

    <div>
      <app-header [title] = "'After'"  [document]="after"></app-header>
      <button style="float: right;" mat-raised-button color="primary" (click)="openAfterDialog()">Paste File</button>
    </div>

  </div>

  <mat-card>

  <mat-tab-group dynamicHeight="true">

    <mat-tab label="Variables">
      <div class="side-by-side">
        <app-variable-display *ngIf="before" [title]="'Before'" [variables]="before.variables"></app-variable-display>
        <app-variable-display *ngIf="after" [title]="'After'" [variables]="after.variables"></app-variable-display>
      </div>
    </mat-tab>

    <mat-tab label="Tasks">
      <div class="side-by-side">
        <app-task-display *ngIf="before" [title]="'Before'" [environments]="before.environments"></app-task-display>
        <app-task-display *ngIf="after" [title]="'After'" [environments]="after.environments"></app-task-display>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-card>

</div>
