textarea{
  height: 500px;
  width: 500px;
}

button {
  margin: 5px;
}

mat-card {
  margin: 5px;
  min-width: 45vw;
  /* min-height: 50vh; */
}

app-variable-display {
  min-width: 50%;
}

app-task-display {
  min-width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.double-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.variable-list-item {
  background-color: rgb(126, 126, 126);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
