<div class="flex-container">
  <div class="side-by-side">

    <div>
      <app-header [title] = "'Before'" [document]="before"></app-header>
      <button mat-raised-button color="primary" (click)="openBeforeDialog()">Paste File</button>
    </div>

    <div>
      <app-header [title] = "'After'"  [document]="after"></app-header>
      <button style="float: right;" mat-raised-button color="primary" (click)="openAfterDialog()">Paste File</button>
    </div>


  </div>

  <div class="tab-body">

    <div class="no-content"></div>

    <!-- tab 1 -->
    <div class="side-by-side">
      <app-variable-display *ngIf="before" [title]="'Before'" [variables]="before.variables"></app-variable-display>
      <app-variable-display *ngIf="after" [title]="'After'" [variables]="after.variables"></app-variable-display>
    </div>

    <!-- tab 2 -->
    <!-- app-task-comparison-display (or whatever) -->

  </div>

</div>
